<div class="container p-5">

  <div class="row">
    <div class="col-6 text-right mt-5">
      <%= image_tag 'rabit_1.png', size: '350x350' %>
    </div>
    <div class="col-6 text-center px-5 pt-5 thanks">
      <p class="ml-5 pl-5 mt-4">
        うんうん！<br>
        きみがうれしそうでぼくもうれしいよ！<br>
        またうれしいことがあったらおしえてね！<br>
        きっともっとうれしくなるから！<br>
        はなしてくれてありがとね！
      </p>
    </div>
  </div>
</div>