<div class="container p-3">

  <h2 class="my-2">タグ一覧</h2>

  <div class="my-3">
    <% @teg_list.each do |list| %>
      <span class="mx-3"><%= link_to list.tag_name, posts_pick_up_path(tag_id: list.id) %>(<%= list.posts.count %>)</span>
    <% end %>
  </div>
</div>