<div class="container">
  <h2 class="text-center py-5">管理者ログイン</h2>

  <div class="row justify-content-md-center">
    <%= form_with model: @admin, url: admin_sign_in_path, local: true do |f| %>

      <div class="form-group row">
        <label class="col-4 col-form-label">email</label>
        <div class="col-8">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">password</label>
        <div class="col-8">
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>
      </div>

      <div class="form-group text-center">
        <%= f.submit "Log in" %>
      </div>

    <% end %>
  </div>
</div>
