<div class="container">
  <h2 class="text-center py-5">報告一覧</h2>

  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th>ユーザー名</th>
        <th class="text-center">コメントID</th>
      </tr>
    </thead>
    <tbody>
      <% @post_comments.each do |post_comment| %>
      <tr>
        <td>
          <%= link_to admin_user_path(post_comment.user.id) do %>
          <%= post_comment.user.name %>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to admin_post_comment_path(post_comment.id) do %>
          <%= post_comment.id %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>