<h2>ユーザー一覧</h2>

<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to admin_user_path(user.id) do %>
        <%= user.name %>
        <% end %>
      </td>
      <td><%= user.suspended %></td>
    </tr>
    <% end %>
  </tbody>
</table>