<div class="container p-3 text-center">
  <h1 class="py-5">本当に退会する？</h1>

  <div>
    <p>
      退会すると、<br/>
      今までの君のおはなしやコメントは消えちゃうよ？
    </p>
  </div>

  <div class="my-5">
    <%= link_to "退会しない", my_page_path, class: 'btn btn-success mr-5' %>
    <%= link_to "退会する", "/users/#{@user.id}", method: :delete, class: 'btn btn-danger ml-5' %>
  </div>

</div>