<h1>本当に退会する？</h1>

<div>
  <p>
    退会すると、<br/>
    今までの君のおはなしやコメントは消えちゃうよ？
  </p>
</div>

<div>
  <%= link_to "退会しない", my_page_path %>
  <%= link_to "退会する", user_path(current_user), method: :delete %>
</div>